<div class="row ">
    <div class="col-md-6">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-calendar"></i>وضعیت حساب مشتری
                </div>
                <div class="actions">
                    <a href="/user/index" class="btn btn-sm btn-default">
                        <i class="fa fa-edit"></i> ویرایش
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="easy-pie-chart">
                            <div class="number transactions" data-percent="50">
                                <span>
                                    50
                                </span>
                                %
                            </div>
                            <a class="title" href="#">
                                کاربری سطح 1 <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm">
                    </div>
                    <div class="col-xs-4">
                        <div class="easy-pie-chart">
                            <div class="number visits" data-percent="10">
                                <span>
                                    10
                                </span>
                                %
                            </div>
                            <a class="title" href="#">
                                کاربری سطح 2 <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm">
                    </div>
                    <div class="col-xs-4">
                        <div class="easy-pie-chart">
                            <div class="number bounce" data-percent="5">
                                <span>
                                    5
                                </span>
                                %
                            </div>
                            <a class="title" href="#">
                                کاربری ویژه <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-comments"></i>سخن روز
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="dashboard-stat green-haze" style="position: relative;">
                            <i class="fa fa-comments-o fa-5x" style="position: absolute;top: 20px;opacity: 0.3;text-align: justify;"></i>
                            <div class="col-md-12" style="padding: 20px;color: #ffffff">
                                <div class="day-qoute col-md-12" style="text-align: justify;">
                                    در روزنامه ی امروز، تاریخ یک روز از جهان نوشته شده است و سر و کار ما با این نوشته بسیار بیشتر از روز های قبلی و گذشته ی ما است که فقط در یاد و خاطره ی ما باقی مانده و اکنون چندان به کار ما نمی آید.
                                </div>
                                <div class="day-qoute col-md-12" style="text-align: left;font-weight: bold;">
                                    جورج هورن
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-calendar"></i>بانک امتیازات
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="dashboard-stat green-haze">
                            <div class="visual">
                                <i class="fa fa-arrow-up"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    200 $
                                </div>
                                <div class="desc">
                                    افزایش اعتبار امروز
                                </div>
                            </div>
                            <a class="more" href="#">
                                گزارش کامل <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="dashboard-stat blue">
                            <div class="visual">
                                <i class="fa fa-arrow-down"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    2200 $
                                </div>
                                <div class="desc">
                                    کاهش اعتبار امروز
                                </div>
                            </div>
                            <a class="more" href="#">
                                گزارش کامل <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="dashboard-stat purple">
                            <div class="visual">
                                <i class="fa fa-money"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    222,500 $
                                </div>
                                <div class="desc">
                                    مانده اعتبار
                                </div>
                            </div>
                            <a class="more" href="#">
                                گزارش کامل <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-calendar"></i>بازی ها
                </div>
                <div class="actions">
                    <a href="/games/index" class="btn btn-sm btn-default">
                        <i class="fa fa-edit"></i> ویرایش
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tiles">
                            <div class="tile image double selected">
                                <a href="/game/football" class="">
                                    <div class="tile-body">
                                        <img src="/Content/homefiles/img/slider/1/UEFA.jpg" alt="">
                                    </div>
                                    <div class="tile-object">
                                        <div class="name">
                                            مربیان بزرگ
                                        </div>
                                        <div class="number">
                                            3000 نفر
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="tile image double selected">
                                <div class="tile-body">
                                    <img src="/Content/homefiles/img/slider/2/waar.jpg" alt="">
                                </div>
                                <div class="tile-object">
                                    <div class="name">
                                        Gallery
                                    </div>
                                    <div class="number">
                                        600 نفر
                                    </div>
                                </div>
                            </div>
                            <div class="tile image double selected">
                                <div class="tile-body">
                                    <img src="/Content/homefiles/img/slider/2/tank.jpg" alt="">
                                </div>
                                <div class="tile-object">
                                    <div class="name">
                                        Gallery
                                    </div>
                                    <div class="number">
                                        124
                                    </div>
                                </div>
                            </div>
                            <div class="tile image double selected">
                                <div class="tile-body">
                                    <img src="/Content/homefiles/img/slider/2/sarbaz.jpeg" alt="">
                                </div>
                                <div class="tile-object">
                                    <div class="name">
                                        Gallery
                                    </div>
                                    <div class="number">
                                        124
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

