<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            کارت شهروندی
        </h3>
        <hr class="style-one" />
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>


    <div class="col-lg-9">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-credit-card"></i>&nbsp;کارت شهروندی
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <div class="form-body">
                    <div>
                        <h4>
                            <i class="fa fa-credit-card"></i>&nbsp;دارندگان کارت
                        </h4>
                        <p>کارت شهروندی محصولی جدید و متفاوت از بانک شهر است که حاوی یک کیف پول الکترونیکی هوشمند، به منظور تسهیل پرداخت‌های روزانه شهروندان می‌باشد. با در دست داشتن این کیف، شما می‌توانید با اطمینان خاطر و امنیت بالا کلیه پرداخت‌های خرد و کلان خود را انجام دهید. به کمک نوار مغناطیسی موجود در کنار تراشه هوشمند، این کارت می‌تواند جهت خریدهای شتابی و انتقال وجه در کل شبکه بانکی کشور نیز مورد استفاده قرار گیرد. مهمترین هدف کارت کیف پول شهروندی ایجاد اطمینان خاطر برای مالکین و سرعت بخشیدن&nbsp; فرآیندهای مالی خرد می‌باشد </p>

                        <p align="center">
                            <img alt="" class="img-responsive" src="/Content/images/bank/citypay1.png">
                        </p>
                        <p>
                            &nbsp;و به منظور تحقق این هدف، پرداخت‌های خرد بدون نیاز به اتصال به شبکه و بدون نیاز به وارد کردن رمز کارت با سرعت بالا صورت می‌گیرد، بدین ترتیب می‌توان از این کیف پول همانند پول نقد در کلیه مراکز خرید، سامانه‌های حمل و نقل شهری مانند اتوبوس، مترو، پارکومتر و تاکسی استفاده نمود. در کنار خدمات ذکر شده، کارت شهروندی از قابلیت چندجیبی به منظور مدیریت بهینه مصارف بهره میبرد. می توان با مراجعه به پذیرندگی های خاص که از جیب های متفاوتی از کارت استفاده میکنند به صورت هدفمند از کارت شهروندی استفاده نمود.
                        </p>
                    </div>
                    <hr class="style-seven" />
                    <div>
                        <h4>
                            <i class="fa fa-credit-card"></i>&nbsp;رمز کارت
                        </h4>
                        <p>
                            در راستای تامین امنیت هر چه بیشتر کارت شهروندی، دو رمز متفاوت برای کیف پول و حساب بانکی تعبیه شده است، به همین دلیل برای استفاده از هر یک از این قابلیت ها می بایست رمز مربوطه را وارد نمایید.
                        </p>
                    </div>
                    <hr class="style-seven" />
                    <div>
                        <h4>
                            <i class="fa fa-credit-card"></i>&nbsp;خرید
                        </h4>
                        <p>
                            در روش اول، که سریعترین روش پرداخت می‌باشد، کافیست با فشردن کلید تایید بر روی پایانه، گزینه خرید را انتخاب نمایید و بعد از وارد کردن مبلغ مورد نظر و نمایش پیغام “انتظار برای کارت” کارت خود را در نزدیکی پایانه فروش قرار دهید تا پیغام مناسب نمایش داده شود. در صورتی که مبلغ خرید بیش از سقفِ بدون رمز، تعیین شده در کارت شما باشد (پیش فرض 50 هزار ریال)، کارت خوان رمز کیف پول را نیز از شما خواهد خواست.در روش دوم، کارت خود را با توجه به علامت فلش موجود روی کارت وارد قسمت کارتخوان پایانه کرده و از لیست قابلیت‌های ظاهر شده در نمایشگر پایانه گزینه خرید را انتخاب نمایید. در مرحله بعد در صورت نیاز، رمز کیف پول الکترونیکی خود را وارد نموده و گزینه تایید را برای پرداخت انتخاب کنید.
                        </p>

                        <p align="center">
                            <img alt="" class="img-responsive" src="/Content/images/bank/citypay2.png">
                        </p>
                    </div>
                    <hr class="style-seven" />
                    <div>
                        <h4>
                            <i class="fa fa-credit-card"></i>&nbsp;واریز به کیف
                        </h4>
                        <p>
                            گام اول: کیف پول شهروندی خود را همانند روش دوم خرید تماسی، با توجه به فلش روی کارت وارد پایانه نمایید (قسمت 1 تصویر) و از منوی ظاهر شده گزینه واریز به کیف را انتخاب نمایید.<br>گام دوم: مبلغ مورد نظر خود را جهت واریز به کیف پول وارد کرده و گزینه تأیید را انتخاب نمایید.<br>گام سوم: حال با توجه به نیاز خود یکی از روش های زیر را پیش بگیرید:<br>حساب متصل به کارت: در این روش از لیست ظاهر شده گزینه «حساب متصل به کارت» را انتخاب نمایید و بعد از وارد کردن رمز حساب بانکی منتظر پاسخ مناسب از پایانه باشید.<br>کارت شتابی: در این روش از لیست ظاهر شده گزینه «کارت شتابی» را انتخاب نمایید، کارت شتابی خود را همانند شکل زیر (قسمت 2 تصویر) در پایانه کشیده، و بعد از وارد کردن رمز کارت شتابی خود منتظر دریافت پاسخ مناسب از پایانه بمانید.<br>در ضمن در سامانه کارت شهروندی قابلیتی پیش بینی شده است که مبالغی به صورت حواله به کارت شما واریز گردند. در زمان شارژ کارت می توانید گزینه دریافت حواله را انتخاب نمایید. در این روش در صورتی که مبلغی به صورت حواله برای کارت شما وجود داشته باشد کارت به صورت خودکار شارژ شده و رسید آن تحویل شما می¬گردد.
                        </p>
                    </div>
                    <hr class="style-seven" />
                    <div>
                        <h4><i class="fa fa-credit-card"></i>&nbsp;مشاهده موجودی</h4>
                        <p>
                            بعد از وارد کردن کارت، همانند روش خرید تماسی از لیست ظاهر شده می‌توانید گزینه مشاهده موجودی را انتخاب نمایید تا موجودی کیف پول برای شما نمایش داده شود. به منظور مشاهده موجودی نیاز است تا رمز اول وارد گردد.<br>شناسایی پایانه ها<br>پایانه های مجاز کارت شهروندی با نماد‌های زیر شناخته می شوند.
                        </p>
                        <p align="center">
                            <img alt="" class="img-responsive" src="/Content/images/bank/citypay3.png">
                        </p>
                    </div>
                    <hr class="style-seven" />
                    <div>
                        <div>
                            <h4>
                                <i class="fa fa-credit-card"></i>&nbsp;کارت شهروندی
                            </h4>
                            <p>
                                کارت شهروندی ابزاری است چند منظوره و منعطف در حوزه خدمات شهری<br>•&nbsp;کیف پول الکترونیکی<br>•&nbsp;کارت نقدی و یا اعتباری شتابی<br>•&nbsp;بن کارت الکترونیکی<br>•&nbsp;کارت رفاهی<br>•&nbsp;کارت شناسایی و امضاء دیجیتال<br>•&nbsp;و سایر خدماتی که مستمر به کاربردهای کارت شهروندی اضافه می شوند<br>•&nbsp;به منظور اطلاع از خدمات ارائه شده بر روی کارت شهروندی به سایت <a href="http://www.citypay.ir/">http://www.citypay.ir</a> مراجعه فرمایید.
                            </p>
                        </div>
                    </div>
                    <hr class="style-seven" />
                    <div>
                        <h4>
                            <i class="fa fa-credit-card"></i>&nbsp;سایر ویژگی ها
                        </h4>
                        <p>
                            از جمله حوزه‌های تحت پوشش کارت شهروندی جهت انجام پرداختهای خرد می‌توان به موارد زیر اشاره نمود:&nbsp;&nbsp; حوزه حمل‌و‌‌نقل عمومی شهری و بین شهری (قطار،اتوبوس، تاکسی، مترو، دوچرخه، مونوریل و ...)&nbsp; حوزه خدمات پارک و پارکینگ (طبقاتی، حاشیه‌ای، میدانی، پارکینگ‌های اختصاصی مراکز خاص مانند ترمینال‌ها و مراکز خرید و ...)&nbsp; حوزه فرهنگی، تفریحی و ورزشی(سینما، تئاتر، کتابخانه‌ها، مجموعه های ورزشی، نمایشگاه‌ها، موزه، فرهنگسرا و ...)&nbsp; مراکز خرید خرد و عمده (سوپر مارکتها، نانواییها، فروشگاه‌های زنجیره‌ای، میادین میوه‌وتره‌بار و ...)&nbsp;&nbsp; مراکز خدمات شهری و بین شهری (تلفن های عمومی، باجه‌های اطلاع‎رسانی، خدمات پستی، عوارض بزرگراهی و ...)&nbsp; و هرجا که نیاز به پرداخت مطمئن و پایدار می باشد.
                        </p>
                        <p>
                            ویژگی های کارت شهروندی عملکرد برخط (Online) در کلیه تراکنشهای شتابی عملکرد برونخط (Offline) در اغلب تراکنشهای خرد عملکرد برخط (Online) در تراکنشهای تسویه و بارگذاری پول در کیف پول الکترونیکی هوشمند امنیت بالا و بکارگیری روشهای رمزنگاری و مدیریت کلید بومی امکان تخصیص اعتبار به کیف پول الکترونیکی هوشمند ارائه سرویسهای ارزش افزوده
                        </p>
                    </div>
                </div>
                <!-- END FORM-->
            </div>
        </div>


    </div>

    <div class="col-lg-3">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>فعالسازی کارت شهروندی
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal">
                    <div class="form-actions top fluid">
                        <div class="col-lg-12">
                            <img class="img-responsive" src="/Content/images/Daric.png" />
                        </div>
                    </div>
                    <div class="form-body">
                        <div>
                            <h3>افتتاح حساب</h3>
                            <hr class="style-eight">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="alert alert-danger text-center">
                                        کاربر ویژه:<strong>10000</strong>داریک
                                    </div>
                                    <hr class="style-two">
                                    <div class="text-center">
                                        <form action="/account/citypay">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="شماره حساب فعال">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-credit-card"></i>&nbsp;
                                                </span>
                                            </div>
                                            <br />
                                            <button class="btn btn-large btn-success">ثبت حساب</button>

                                        </form>
                                    </div>
                                    <hr class="style-two">
                                    <div class="text-center">
                                        <a class="btn btn-large btn-danger">درخواست افتتاح حساب</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>


    </div>


</div>