
<div class="row" style="border: 2px dashed black; padding: 15px;">

    <div class="col-md-6">
        <h2>مربیان بزرگ</h2>
        <p>
            قدمت فوتبال به چندین سدهٔ پیش از میلاد و به چین بازمی‌گردد که به تدریج در یونان و روم نیز رواج‌یافت. فوتبال مدرن امروزی نیز در سال ۱۸۶۶ در مدارس انگلستان شکل‌گرفت و به تدریج گسترهٔ پراکندگی آن همهٔ جهان را زیر پوشش خود قرارداد. با شکل‌گیری سازمان فیفا در سال ۱۹۰۴ و ایجاد رقابت جام جهانی فوتبال، این ورزش بسیار گسترده‌تر شد.
        </p>
        <br/>
        <div class="text-center">
            <a class="btn btn-danger" href="http://www.cupfa.ir/">ورود به بازی</a>
        </div>
    </div>
    <div class="col-md-6">
        <div id="myCarousel" class="carousel image-carousel slide">
            <div class="carousel-inner">
                <div class="active item">
                    <img src="/Content/custom/bg/1.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                        <h4>
                            <a href="page_news_item.html">
                                First Thumbnail label
                            </a>
                        </h4>
                        <p>
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="/Content/custom/bg/2.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                        <h4>
                            <a href="page_news_item.html">
                                Second Thumbnail label
                            </a>
                        </h4>
                        <p>
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="/Content/custom/bg/3.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                        <h4>
                            <a href="page_news_item.html">
                                Third Thumbnail label
                            </a>
                        </h4>
                        <p>
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control right" href="#myCarousel" data-slide="prev">
                <i class="m-icon-big-swapleft m-icon-white"></i>
            </a>
            <a class="carousel-control left" href="#myCarousel" data-slide="next">
                <i class="m-icon-big-swapright m-icon-white"></i>
            </a>
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active">
                </li>
                <li data-target="#myCarousel" data-slide-to="1">
                </li>
                <li data-target="#myCarousel" data-slide-to="2">
                </li>
            </ol>
        </div>
    </div>
    <div class="col-md-12">
        <br />
        امکانات اصلی بازی:<br />
        ۱- ثبت نام و ایجاد تیم<br />
        ۲- پنل اصلی تیم: که شامل خلاصه موارد و رویدادهای مختلف بازی می‌باشد<br />
        ۳- پروفایل تیم: که شامل نمایش اطلاعات و افتخارات و اخبار و لباس و آرم و لیگ و امکانات تیم می‌باشد<br />
        ۴- ترکیب تیم: که برای مدیریت ترکیب و تعویض و انتخاب نوع چینش و استراتژی و مدیریت بازیکنان و مشاهده قدرت‌ها و چهره بازیکن و روانشناسی و ریکاوری یا دوپینگ تیم می‌باشد<br />
        ۵- تمرین: که برای دادن انواع تمرین‌ها به بازیکنان بصورت گروهی یا فردی و افزایش قدرت و آمادگی بازیکنان می باشد<br />
        ۶- طرفداران: برای ارتقای امکانات استادیوم و تغییر قیمت بلیت و مشاهده وضعیت طرفداران و استخدام لیدر و تهیه وسیله حمل و نقل برای هواداران می‌باشد<br />
        ۷- دارایی ها: در این قسمت میتوانید ظرفیت استادیوم خود را ارتقا دهید. و همچنین برای تیم خود پزشک و روانشناس و بدنساز استخدام کنید و سطح آن‌ها را ارتقا دهید. همچنین می‌توانید برای تیم خود اسپانسر تعیین کنید. (سیستم اسپانسرها به اینصورت است که برندی که میخواهد خود را در سایت تبلیغ کند با دادن هزینه وارد قسمت اسپانسرها می‌شود و هر تیمی که آن را انتخاب کند به عنوان اسپانسرش در پروفایل تیم برای همه نمایش داده می‌شود و اسپانسر در هر برد یا فتح جام مقداری سکه به تیم جایزه میدهد که همه این مقادیر از حساب قابل شارژ اسپانسر کسر میشوند)<br />
        ۸- بازی‌ها و نتایج: در این قسمت می‌توانید برنامه و نتایج بازی‌های مختلف را مشاهده نمایید.<br />
        با کلیک روی هربازی صفحه بازی نمایش داده می‌شود که اگر بازی هنوز شروع نشده شمارنده نمایش داده میشد و اگر بازی اجرا شده نتایج و آمار بازی و همچنین گزارش لحظه به لحظه بازی نمایش داده میشود. اگر گزارش بازی را پلی کنید بصورت لحظه به لحظه بازی را گزارش میکند بصورت متنی.<br />
        ۹- بازی‌های دوستانه: در این قسمت میتوانید به سایر تیم ها درخواست بازی دوستانه ارسال نمایید و پس از تأیید با آن‌ها بازی نمایید.<br />
        ۱۰- لیگ: در این قسمت لیگی که شما در آن قرار دارید و برنامه و نتایج بازی‌ها نمایش داده می شود. همچنین تیم های لیگ میتواند برای هم کری بخوانند. همچنین بازیکنین برتر لیگ هم نمایش داده میشوند. نفر اول لیگ به لیگ بالاتر صعود میکند و ۲نفر آخر به لیگ پایینتر سقوط میکنند. و لیگ ها بصورت هرم هستند. و لیگ ها در ۸گروه انجام میشوند. یعنی ۸هرم جداگانه وجود دارد.<br />
        ۱۱- جامها: ۴نوع جام وجود دارد که هرکسی میتواند در آن‌ها شرکت کند.<br />
        جام حذفی: هر فصل بین تیم های برتر هر گروه انجام میشود.<br />
        جام قهرمانان: هر فصل بین ۳نفر اول لیگهای برتر و قهرمانان جامهای حذفی برگزار میشود.<br />
        جام طلایی: توسط مدیر ایجاد می‌شود و فقط کاربران طلایی حق عضویت دارند.<br />
        جام کاربران: توسط کاربران ایجاد می شوند.<br />
        ۱۲- نقل و انتقالات: در این قسمت میتوانید به خرید و فروش بازیکن بپردازید.<br />
        ۱۳- آکادمی: هر تیمی میتواند برای خود آکادمی ایجاد کند و در آنجا بازیکنان را از سنین پایین تربیت نماید و وقتی آماده شدند به تیم اصلی انتقال دهند یا بفروشند.<br />
        ۱۴- اخبار بازی (روزنامه): در این قسمت اخبار مختلف بازی بصورت لحظه‌ای درج میشود.<br />
        ۱۵- پیراهن و لوگو: در این قسمت میتوانید پیراهن اول و دوم و لوگوی تیم را طراحی نمایید.<br />
        ۱۶- کنفرانس خبری (در صفحه پنل اصلی): پس از هربازی میتوانید نظر خود را درمورد آن بازی بیان نمایید که در اخبار نمایش داده میشود.<br />
        ۱۷- خرید سکه و عضویت طلایی برای تیم: با خرید سکه میتونید امکانات بیشتری برای تیم بخرید. همچنین با خرید عضویت ویژه امتیازها و برتریهای بیشتری شامل تیم شما میشود.<br />
        ۱۸- آگاه سازها: قبل و بعد از هربازی و همچنین رویدادهای مهم سیستم به مربی ایمیل ارسال مینمایدو همچنین میتوانید با فعالسازی قسمت پیامک، آگاهساز پیامکی نیز ارسال نمایید.<br />
        ۱۹- افیلیت و کسب سکه: میتوانید با معرفی دیگران و ثبت نام آن‌ها در بازی سکه کسب نمایید.<br />
        ۲۰- پیام ها: در این قسمت کاربران میتوانند به هم پیام خصوصی ارسال نمایید.<br />
        ۲۱- رنکینگ: در این قسمت تمام تیمها با رتبه تیم نمایش داده میشوند.<br />
        ۲۲- سایر امکانات مانند گزارشات مالی و ویراش مشخصات و تنظیمات و تغییر تصویر و رمزعبور و …<br />
        <br /><br />
        امکانات جانبی بازی:<br />
        ۲۳- سیستم پیشبینی: در این قسمت مدیر میتواند پیشبینی یک بازی را تعیین کند و تیم ها شرکت کنند و کسانی که درست پیشبینی کرده‌اند سکه جایزه ببرند.<br />
        ۲۴- مطالب مدیریت: در این قسمت مدیر سایت میتواند مطالب و اخبار فوتبالی و غیره را در سایت انتشار دهد با امکان دادن نظر و لایک توسط کاربران.<br />
        ۲۵- تالار گفتگو: در این قسمت تیم ها در موضوعات مختلف و بحث و تبادل نظر میپردازند.<br />
        ۲۶- تماس باما: در این قسمت کاربران برای مدیریت پیام ارسال مینمایند.<br />
        ۲۷- اخبار بازی: در این قسمت مدیر اخبار مربوط به بازی را مینویسد.<br />
        ۲۸- راهنمای بازی: در این قسمت مدیر راهنمای بازی را مینویسد.<br />
        <br /><br />
        شبکه اجتماعی فوتبالی:<br />
        ۲۹: شبکه اجتماعی شامل تمامی امکانات معمول در شبکه‌های اجتماعی مانند انتشار مطالب و تصاویر روی دیوار و مشاهده مطالب دیگران در نیوزفید و لایک و کامنت و ایجاد گروه یا پیوستن به گروه‌ها و دوست شدن با دیگران و چت آنلاین و نمایش نوتیفیکیشن می باشد.<br />
        ۳۰: دیوار: در این قسمت تمامی مطالب و تصاویری که منتشر کرده‌اید یا لایک کرده‌اید نمایش داده میشود. همچنین میتوانید برای دیوار خود تصویر کاور تعیین نمایید.<br />
        ۳۱: نیوزفید: در این قسمت تمامی مطالب دوستان و گرو هایی که عضو آن‌ها هستید برای شما نمایش داده می‌شود و میتوانید لایک و کامنت بذارید(با لایک مطلب آن مطلب در دیوار شما نیز نمایش داده میشود)<br />
        ۳۲: گروه ها: در این قسمت میتوانید سایر گروه‌های ایجاد شده را مشاده کنید و عضو آن‌ها شوید یا خودتان یک گروه ایجاد نمایید. در گروه میتوانید مطالب و اخبار و تصویر و نظرسنجی منتشر کنید و عضو گیری کنید و مدیران و سطح دسترسی آن‌ها را تعیین نمایید.<br />
        ۳۳: شما میتوانید برای دیوار یا گروه خودتان محدودیت تعیین کنید که چه کسانی بتوانند ببینند.<br />
        ۳۴: چت آنلاین: در این قسمت میتوانید با دوستانتان بصورت زنده چت کنید.<br />
        <br /><br />
        امکانات بخش مدیریت:<br />
        ۳۵: مدیریت کاربران و تیم ها: در ایم قسمت میتوانید کابران متخلف را مسدود کنید. یا به تیمها سکه و عضویت طلایی بدهید. همچنین میتوانید گزارش کاملی از تمامی عملکردهای هر تیم مشاهده نمایید. مشخصات تیم را تغییر دهید یا برایش سکه و عضویت بدهید و …<br />
        ۳۶: مدیریت مطالب: در این قسمت مطالب منتشر شده توسط مدیر را مدیریت مینمایید یا مطلب جدید منتظر میکنید.<br />
        ۳۷: مدیریت شبکه اجتماعی: در این قسمت میتوانید تمامی محتوای منتشر شده در شبکه اجتماعی را مدیریت نمایید.<br />
        ۳۸: مدیران سایت: در این قسمت مدیران سایت را مدیریت مینمایید.<br />
        ۳۹: پیام ها: در این قسمت پیامهای ارسال شده کاربران نمایش داده می‌شود و میتوانید به آن‌ها پاسخ دهید.<br />
        ۴۰: مدیریت مالی: در این قیمت میتوانید پلن های شارژ و عضویت ایجاد کنید و تراکنش های انجام شده و مشاهده نمایید.<br />
        ۴۱: خبرنامه: در این قسمت میتوانید به کاربران یا لیست مخاطبان وارد شده خبرنامه ایمیلی و پیامکی ارسال نمایید.<br />
        ۴۲: مدیریت انجمن<br />
        ۴۳: شما قادر هستید تمامی قیمت ها و اعداد ارقام بازی را در قسمت مدیریت تغییر دهید.<br />
        ۴۴: اخبار سایت<br />
        ۴۵: مدیریت جامهای طلایی و کاربران<br />
        ۴۶: مدیریت پیشبینی ها<br />
        ۴۷: مدیریت اعداد و ارقام و قیمت سطوح مختلف کارمندان و امکانات و استادیوم و …<br />
        ۴۸: مدیریت اسپانسرها<br />
        ۴۹: راه انداز بازی: برای شروع هر فصل<br />
        ۵۰: نمایش آمار مختلف از بازی.<br />

    </div>
</div>