		
<link href="/metronic/admin/pages/css/portfolio-rtl.css" rel="stylesheet" />	

<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            کارت هدیه
        </h3>
        <hr style="style-one" />
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-9">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>کارت هدیه
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-actions top fluid">
                    <div class="col-md-6">
                        <div style="padding: 20px;">
                            <p>طرح کارت هدیه مورد نظر را انتخاب نمایید</p>
                            <img id="selectedimage" class="img-responsive" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center" style="padding-top: 20px;">
                            
                            <form action="/account/citypay">
                                <p>
                                    عبارت مورد نظر را وارد نمایید(ترجیحا 4 یا 5 کلمه)
                                </p>
                                <div class="input-group">
                                    
                                    <input type="text" class="form-control" placeholder="عبارت مورد نظر">
                                    <span class="input-group-addon">
                                        <i class="fa fa-credit-card"></i>&nbsp;
                                    </span>
                                </div>
                                <br/>
                                <p>مبلغ مورد نظر را انتخاب نمایید(تومان)</p>
                                <div class="input-group">
                                    <select class="form-control select2me" data-placeholder="Select...">
                                        <option value="01">10,000</option>
                                        <option value="02">20,000</option>
                                        <option value="03">50,000</option>
                                        <option value="04">100,000</option>
                                        <option value="05">200,000</option>
                                        <option value="06">250,000</option>
                                        <option value="07">300,000</option>
                                        <option value="08">400,000</option>
                                        <option value="09">500,000</option>
                                        <option value="10">700,000</option>
                                        <option value="11">800,000</option>
                                        <option value="12">1,000,000</option>
                                    </select>
                                    <span class="input-group-addon">
                                        <i class="fa fa-money"></i>
                                    </span>
                                </div>
                                <br />
                                <button class="btn btn-large btn-success">ثبت خرید</button>

                            </form>
                        </div>

                    </div>
                </div>
                <!-- BEGIN FORM-->
                <div class="" style="min-height: 800px;">
                    <div class="form-body">
                        <!-- BEGIN FILTER -->
                        <div class="margin-top-10">
                            <ul class="mix-filter">
                                <li class="filter" data-filter="all">
                                    همه
                                </li>
                                <li class="filter" data-filter="category_1">
                                    شهری
                                </li>
                                <li class="filter" data-filter="category_2">
                                    منظره
                                </li>
                                <li class="filter" data-filter="category_3">
                                    عمومی
                                </li>
                                <li class="filter" data-filter="category_3 category_1">
                                    ویژه
                                </li>
                            </ul>
                            <div class="row mix-grid">
                                <div class="col-md-3 col-sm-4 mix category_1">
                                    <div class="mix-inner text-center">
                                        <img class="img-responsive" src="/Content/images/GiftCard/40.jpg" />
                                        <div class="mix-details">
                                            <h4>انتخاب کارت</h4>
                                            <a class="mix-link">
                                                <i class="fa fa-hand-o-up"></i>
                                            </a>
                                            <a class="mix-preview fancybox-button" href="/metronic/admin/pages/media/works/img2.jpg" title="Project Name" data-rel="fancybox-button">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 mix category_2">
                                    <div class="mix-inner text-center"> 
                                        <img class="img-responsive" src="/Content/images/GiftCard/48.jpg" />
                                        <div class="mix-details">
                                            <h4>انتخاب کارت</h4>
                                            <a class="mix-link">
                                                <i class="fa fa-hand-o-up"></i>
                                            </a>
                                            <a class="mix-preview fancybox-button" href="/Content/images/GiftCard/48.jpg" target="_blank" title="Project Name" data-rel="fancybox-button">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 mix category_3">
                                    <div class="mix-inner text-center"> 
                                        <img class="img-responsive" src="/Content/images/GiftCard/42.jpg" />
                                        <div class="mix-details">
                                            <h4>انتخاب کارت</h4>
                                            <a class="mix-link">
                                                <i class="fa fa-hand-o-up"></i>
                                            </a>
                                            <a class="mix-preview fancybox-button" href="/metronic/admin/pages/media/works/img3.jpg" title="Project Name" data-rel="fancybox-button">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 mix category_1 category_2">
                                    <div class="mix-inner text-center"> 
                                        <img class="img-responsive" src="/Content/images/GiftCard/35.jpg" />
                                        <div class="mix-details">
                                            <h4>انتخاب کارت</h4>
                                            <a class="mix-link">
                                                <i class="fa fa-hand-o-up"></i>
                                            </a>
                                            <a class="mix-preview fancybox-button" href="/metronic/admin/pages/media/works/img4.jpg" title="Project Name" data-rel="fancybox-button">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 mix category_2 category_1">
                                    <div class="mix-inner text-center"> 
                                        <img class="img-responsive" src="/Content/images/GiftCard/36.jpg" />
                                        <div class="mix-details">
                                            <h4>انتخاب کارت</h4>
                                            <a class="mix-link">
                                                <i class="fa fa-hand-o-up"></i>
                                            </a>
                                            <a class="mix-preview fancybox-button" href="/metronic/admin/pages/media/works/img5.jpg" title="Project Name" data-rel="fancybox-button">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 mix category_1 category_2">
                                    <div class="mix-inner text-center"> 
                                        <img class="img-responsive" src="/Content/images/GiftCard/33.jpg" />
                                        <div class="mix-details">
                                            <h4>انتخاب کارت</h4>
                                            <a class="mix-link">
                                                <i class="fa fa-hand-o-up"></i>
                                            </a>
                                            <a class="mix-preview fancybox-button" href="/metronic/admin/pages/media/works/img6.jpg" title="Project Name" data-rel="fancybox-button">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 mix category_2 category_3">
                                    <div class="mix-inner text-center"> 
                                        <img class="img-responsive" src="/Content/images/GiftCard/49.jpg" />
                                        <div class="mix-details">
                                            <h4>انتخاب کارت</h4>
                                            <a class="mix-link">
                                                <i class="fa fa-hand-o-up"></i>
                                            </a>
                                            <a class="mix-preview fancybox-button" href="/metronic/admin/pages/media/works/img1.jpg" title="Project Name" data-rel="fancybox-button">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 mix category_1 category_2">
                                    <div class="mix-inner text-center"> 
                                        <img class="img-responsive" src="/Content/images/GiftCard/50.jpg" />
                                        <div class="mix-details">
                                            <h4>انتخاب کارت</h4>
                                            <a class="mix-link">
                                                <i class="fa fa-hand-o-up"></i>
                                            </a>
                                            <a class="mix-preview fancybox-button" href="/metronic/admin/pages/media/works/img2.jpg" title="Project Name" data-rel="fancybox-button">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 mix category_3">
                                    <div class="mix-inner text-center"> 
                                        <img class="img-responsive" src="/Content/images/GiftCard/25.jpg" />
                                        <div class="mix-details">
                                            <h4>انتخاب کارت</h4>
                                            <a class="mix-link">
                                                <i class="fa fa-hand-o-up"></i>
                                            </a>
                                            <a class="mix-preview fancybox-button" href="/metronic/admin/pages/media/works/img4.jpg" title="Project Name" data-rel="fancybox-button">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 mix category_1">
                                    <div class="mix-inner text-center"> 
                                        <img class="img-responsive" src="/Content/images/GiftCard/43.jpg" />
                                        <div class="mix-details">
                                            <h4>انتخاب کارت</h4>
                                            <a class="mix-link">
                                                <i class="fa fa-hand-o-up"></i>
                                            </a>
                                            <a class="mix-preview fancybox-button" href="/metronic/admin/pages/media/works/img3.jpg" title="Project Name" data-rel="fancybox-button">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END FILTER -->
                    </div>
                </div>
                <!-- END FORM-->
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>جوایز خرید کارت هدیه
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal">
                    <div class="form-actions top fluid">
                        <div class="col-lg-12">
                            <img class="img-responsive" src="/Content/images/Daric.png" />
                        </div>
                    </div>
                    <div class="form-body">
                        <div>
                            <h3>هر هزار تومان </h3>
                            <hr class="style-eight">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="alert alert-warning text-center">
                                        <strong>100</strong>داریک
                                    </div>
                                    <div class="alert alert-success text-center">
                                        <strong>300</strong>داریک
                                    </div>
                                    <div class="alert alert-danger text-center">
                                        <strong>1000</strong>داریک
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section customScript{
  
    <script src="/metronic/global/plugins/jquery-mixitup/jquery.mixitup.min.js"></script>
    <script src="/metronic/admin/pages/scripts/portfolio.js"></script>

    <script>
        jQuery(document).ready(function() {
            //Metronic.init(); // init metronic core components
            //Layout.init(); // init current layout
            //QuickSidebar.init() // init quick sidebar
            Portfolio.init();
            $(".mix-link").click(function () {
                var imgsrc = $(this).closest(".mix-inner").children("img").attr("src");
                $("#selectedimage").attr("src", imgsrc);
                $('html, body').animate({
                    scrollTop: $("#selectedimage").offset().top - 100
                }, 1000);
            });
        });
    </script>

} 