<div class="row">
    <div class="col-md-3">
        <img class="img-responsive" src="/Content/images/Daric.png" />
    </div>
    <div class="col-md-9">
        <h2>داریک</h2>
        <p>دریک سکه ٔ زر در دوره هخامنشی، با وزن ۸/۳۵ تا ۸/۴۲ گرم بوده‌است. بریک طرف آن نگاره‌ای از یک کماندار هخامنشی در حال دویدن است که کمانی در دست چپ و نیزه‌ای در دست راست دارد. ضرب این سکه را جزو اصلاحات پولی داریوش یکم هخامنشی برشمرده‌اند، ولی برخی باور دارند که دریک پیش از زمان او هم ضرب می‌شده‌است. آنچه مسلم است اینک ضرب سکه ٔ زر از امتیازهای ویژه شاه بود. گمان می‌رود تاریخ نخستین ضرب سکه دریک ۵۱۴ پیش از میلاد باشد.</p>
        <p>در زمان هخامنشیان هیچ‌یک از ساتراپ‌ها و فرمانداران محلی حق نداشتند بدون پروانه داریوش به نام خود سکه زنند، تنها اجازه داشتند با پروانه داریوش سکهٔ نقره بزنند، چرا که ضرب سکهٔ دریک در انحصار مرکز بود.</p>
        <p>عیار سکه‌های دریک بسیار بالا بود و با آزمایش روی نمونه‌های به دست آمده روشن شده‌است که فلزش تنها ۳٪ آلیاژ می‌داشته‌است. این نابی بالا مایهٔ رواج این سکه شد و همواره سکه‌های طلای هخامنشی سخت معتبر بودند. در پایان دوران هخامنشی دودریکی هم ضرب شد. کیفیت سکه‌های زر در تمام دوران هخامنشی ثابت ماند.</p>
        <p>نقش کماندار پارسی در درازای دو سده پادشاهی هخامنشیان دگرگونی‌هایی داشت. از آنجا که سکه‌های هخامنشی تاریخ ضرب ندارند از روی نشانه‌های دیگر نقش‌های مربوط به دوران هر پادشاه را تعیین کرده‌اند. سکه‌های هخامنشی جز موارد استثنایی تنها در یک سو دارای نقش هستند و پشت آنها بیشتر فرورفتگی چهارگوش شکل و ناهمواری‌های نا به سامانی هست. اینها اثر قسمت برجستهٔ سندانی‌است که هنگام چکش‌زدن بر سکه گذاشته می‌شد.</p>
        <p>در دورهٔ ۲۰۰ ساله پادشاهی هخامنشیان، سکه‌های نیم دریکی و یک چهارم دریکی نیز ضرب شدند.</p>
    </div>
</div>