<link href="/metronic/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" />
<link href="/Content/custom/sameHeights.css" rel="stylesheet" />

<div class="portlet box purple">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>سطح کاربری
        </div>
    </div>
    <div class="portlet-body">
        <h3>نمودار رشد</h3>
        <div class="progress">

            <div class="progress-bar progress-bar-warning" style="width: 20%">
                <span class="sr-only">
                    10% Complete (warning)
                </span>
            </div>
            <div class="progress-bar progress-bar-success" style="width: 8%">
                <span class="sr-only">
                    50% Complete (success)
                </span>
            </div>
            <div class="progress-bar progress-bar-danger" style="width: 3%">
                <span class="sr-only">
                    5% Complete (danger)
                </span>
            </div>
        </div>
        <div class="row">

            <div class="col-md-9">
                <div class="">
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-warning">&nbsp;</button>&nbsp;&nbsp;سطح 1
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-success">&nbsp;</button>&nbsp;&nbsp;سطح 2
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-danger">&nbsp;</button>&nbsp;&nbsp;سطح ویژه
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <a class="btn purple pull-right" style="width: 200px;" href="/user/GiftTable">جدول کامل امتیازات</a>
            </div>
        </div>

    </div>
</div>



<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>کاربری سطح 1
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal">
            <div class="form-actions top fluid">
                <div class="col-md-offset-1 col-md-10">
                    <ul>
                        <li>ضریب امتیازات در این سطح معادل 1 می باشد</li>
                        <li>با تکمیل اطلاعات "کاربری سطح 1" می توانید ضریب امتیازات کسب شده را 3 برابر نمایید.</li>
                    </ul>
                </div>
            </div>
            <div class="form-body">
                <div class="row-same-height">
                    <div class="col-md-8 col-sm-height">
                        <div class="form-group">
                            <label class="col-md-3 control-label">نام مستعار</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="نام مستعار" readonly="readonly" value="Edward">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">ایمیل</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="ایمیل" readonly="readonly" value="BozorgKian.ah@Gmail.com">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">موبایل</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="موبایل" readonly="readonly" value="0912-5308867">
                                    <span class="input-group-addon">
                                        <i class="fa fa-mobile"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr class="style-two" />
                        <hr class="style-one" />
                        <div class="form-group">
                            <label class="col-md-3 control-label">نام</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="نام">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">نام خانوادگی</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="نام خانوادگی">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">کد ملی</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="کد ملی">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">شماره شناسنامه</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="شماره شناسنامه">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">نام پدر</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="نام پدر">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">روز تولد</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <select class="form-control select2me" data-placeholder="Select...">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">ماه تولد</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <select class="form-control select2me" data-placeholder="Select...">
                                        <option value="1">فروردین</option>
                                        <option value="2">اردیبهشت</option>
                                        <option value="3">خرداد</option>
                                        <option value="4">تیر</option>
                                        <option value="5">مرداد</option>
                                        <option value="6">شهریور</option>
                                        <option value="7">مهر</option>
                                        <option value="8">آبان</option>
                                        <option value="9">آذر</option>
                                        <option value="10">دی</option>
                                        <option value="11">بهمن</option>
                                        <option value="12">اسفند</option>
                                    </select>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">سال تولد</label>
                            <div class="col-md-9">
                                <div class="input-group">

                                    <select class="form-control select2me" data-placeholder="Select...">
                                        <option value="1390">1390</option>
                                        <option value="1389">1389</option>
                                        <option value="1388">1388</option>
                                        <option value="1387">1387</option>
                                        <option value="1386">1386</option>
                                        <option value="1385">1385</option>
                                        <option value="1384">1384</option>
                                        <option value="1383">1383</option>
                                        <option value="1382">1382</option>
                                        <option value="1381">1381</option>
                                        <option value="1380">1380</option>
                                        <option value="1379">1379</option>
                                        <option value="1378">1378</option>
                                        <option value="1377">1377</option>
                                        <option value="1376">1376</option>
                                        <option value="1375">1375</option>
                                        <option value="1374">1374</option>
                                        <option value="1373">1373</option>
                                        <option value="1372">1372</option>
                                        <option value="1371">1371</option>
                                        <option value="1370">1370</option>
                                        <option value="1369">1369</option>
                                        <option value="1368">1368</option>
                                        <option value="1367">1367</option>
                                        <option value="1366">1366</option>
                                        <option value="1365">1365</option>
                                        <option value="1364">1364</option>
                                        <option value="1363">1363</option>
                                        <option value="1362">1362</option>
                                        <option value="1361">1361</option>
                                        <option value="1360">1360</option>
                                        <option value="1359">1359</option>
                                        <option value="1358">1358</option>
                                        <option value="1357">1357</option>
                                        <option value="1356">1356</option>
                                        <option value="1355">1355</option>
                                        <option value="1354">1354</option>
                                        <option value="1353">1353</option>
                                        <option value="1352">1352</option>
                                        <option value="1351">1351</option>
                                        <option value="1350">1350</option>
                                        <option value="1349">1349</option>
                                        <option value="1348">1348</option>
                                        <option value="1347">1347</option>
                                        <option value="1346">1346</option>
                                        <option value="1345">1345</option>
                                        <option value="1344">1344</option>
                                        <option value="1343">1343</option>
                                        <option value="1342">1342</option>
                                        <option value="1341">1341</option>
                                        <option value="1340">1340</option>
                                        <option value="1339">1339</option>
                                        <option value="1338">1338</option>
                                        <option value="1337">1337</option>
                                        <option value="1336">1336</option>
                                        <option value="1335">1335</option>
                                        <option value="1334">1334</option>
                                        <option value="1333">1333</option>
                                        <option value="1332">1332</option>
                                        <option value="1331">1331</option>
                                        <option value="1330">1330</option>
                                    </select>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-height" style="vertical-align: middle;background: #f5f5f5">
                        <div class="easy-pie-chart">
                            <div class="number transactions" data-percent="50">
                                <span>
                                    50
                                </span>
                                %
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn blue">ذخیره</button>
                    <button type="button" class="btn default">انصراف و بازگشت</button>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>کاربری سطح 2
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal">
            <div class="form-actions top fluid">
                <div class="col-md-offset-1 col-md-10">
                    <ul>
                        <li>ضریب امتیازات در این سطح معادل 3 می باشد</li>
                        <li>با تکمیل اطلاعات "کاربری سطح 2" می توانید ضریب امتیازات کسب شده را 5 برابر نمایید.</li>
                    </ul>
                </div>
            </div>
            <div class="form-body">
                <div class="row-same-height">
                    <div class="col-md-8 col-sm-height">
                        <div class="form-group">
                            <label class="col-md-3 control-label">تصویر</label>
                            <div class="col-md-9" style=" text-align: center;">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
                                    </div>
                                    <div>
                                        <span class="btn default btn-file">
                                            <span class="fileinput-new">
                                                Select image
                                            </span>
                                            <span class="fileinput-exists">
                                                Change
                                            </span>
                                            <input type="file" name="...">
                                        </span>
                                        <a href="#" class="btn red fileinput-exists" data-dismiss="fileinput">
                                            Remove
                                        </a>
                                    </div>
                                </div>
                                @*<div class="clearfix margin-top-10">
                                        <span class="label label-danger">
                                            NOTE!
                                        </span>
                                        Image preview only works in IE10+, FF3.6+, Safari6.0+, Chrome6.0+ and Opera11.1+. In older browsers the filename is shown instead.
                                    </div>*@
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-md-3 control-label">کد پستی</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="کد پستی">
                                    <span class="input-group-addon">
                                        <i class="fa fa-print"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">تلفن منزل</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="تلفن منزل">
                                    <span class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-md-3 control-label">سریال حروفی شناسنامه</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="سریال حروفی شناسنامه">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">سریال عددی شناسنامه</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="سریال عددی شناسنامه">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">نام شرکت / سازمان</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="نام شرکت / سازمان">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">مدرک تحصیلی</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="مدرک تحصیلی">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">رشته</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="رشته">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">نام شرکت / سازمان</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="نام شرکت / سازمان">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-height" style="vertical-align: middle;background: #f5f5f5">
                        <div class="easy-pie-chart">
                            <div class="number visits" data-percent="10">
                                <span>
                                    10
                                </span>
                                %
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn blue">ذخیره</button>
                    <button type="button" class="btn default">انصراف و بازگشت</button>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

<div class="portlet box red">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>کاربری ویژه
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal">
            <div class="form-actions top fluid">
                <div class="col-md-offset-1 col-md-10">
                    <ul>
                        <li>ضریب امتیازات در این سطح معادل 5 می باشد</li>
                        <li>با تکمیل مراحل "کاربری ویژه" می توانید ضریب امتیازات کسب شده را 10 برابر نمایید.</li>
                    </ul>
                </div>
            </div>
            <div class="form-body">
                <div class="row-same-height">
                    <div class="col-md-8 col-sm-height">
                        <div class="col-md-12">
                            <h2>ثبت درخواست افتتاح حساب المپیک</h2>
                            <hr />
                            <p>شما با ثبت درخواست فعالسازی ویژه المپیک می توانید از تمامی خدمات و حداکثر امتیازات بهره مند شوید.</p>
                            <p>شما با ثبت درخواست فعالسازی ویژه المپیک می توانید از تمامی خدمات و حداکثر امتیازات بهره مند شوید.</p>
                            <p>شما با ثبت درخواست فعالسازی ویژه المپیک می توانید از تمامی خدمات و حداکثر امتیازات بهره مند شوید.</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-height" style="vertical-align: middle;background: #f5f5f5">
                        <div class="easy-pie-chart">
                            <div class="number bounce" data-percent="5">
                                <span>
                                    5
                                </span>
                                %
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-12" style="text-align: center;">
                    <button type="submit" class="btn purple" style="width: 200px;">ثبت درخواست</button>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>


<script src="~/metronic/admin/pages/scripts/components-form-tools.js"></script>