<link href="/metronic/admin/pages/css/timeline-rtl.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <ul class="timeline">
            
            <li class="timeline-blue">
                <div class="timeline-time">
                    <span class="date">
                        4/18/13
                    </span>
                    <span class="time">
                        14:30
                    </span>
                </div>
                <div class="timeline-icon">
                    <i class="fa fa-credit-card"></"></i>
                </div>
                <div class="timeline-body">
                    <h2>خرید شارژ</h2>
                    <div class="timeline-content">
                        <img class="timeline-img pull-right" src="/metronic/admin/pages/media/blog/2.jpg" alt="">
                        <ul>
                            <li>شما 30000 ریال شارژ همرا اول خرید کرده اید</li>
                            <li>3,000 سکه جایزه به حساب کاربری شما واریز گردید</li>
                        </ul>
                        <p>
                            توضیحات:
                            شناسه رهگیری شما 12458793 می باشد
                        </p>
                    </div>
                </div>
            </li>
            
            <li class="timeline-blue">
                <div class="timeline-time">
                    <span class="date">
                        4/18/13
                    </span>
                    <span class="time">
                        14:27
                    </span>
                </div>
                <div class="timeline-icon">
                    <i class="fa fa-credit-card"></i>
                </div>
                <div class="timeline-body">
                    <h2>پرداخت قبض</h2>
                    <div class="timeline-content">
                        <img class="timeline-img pull-right" src="/metronic/admin/pages/media/blog/2.jpg" alt="">
                        <ul>
                            <li>قبض شما با شناسه قبض 530886581 و شناسه پرداخت 54654456 به مبلغ 235000 ریال پرداخت گردید.</li>
                            <li>15,000 سکه جایزه به حساب کاربری شما واریز گردید</li>
                        </ul>
                        <p>
                            توضیحات:
                            شناسه رهگیری شما 12458793 می باشد
                        </p>
                    </div>
                </div>
            </li>
            
            <li class="timeline-red">
                <div class="timeline-time">
                    <span class="date">
                        4/16/13
                    </span>
                    <span class="time">
                        14:25
                    </span>
                </div>
                <div class="timeline-icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="timeline-body">
                    <h2>ورود به باشگاه</h2>
                    <div class="timeline-content">
                        <img class="timeline-img pull-right" src="/metronic/admin/pages/media/blog/5.jpg" alt="">
                        <ul>
                            <li>جناب کاربر گرامی و عزیز شما وارد سیستم شده اید</li>
                            <li>1,000 سکه جایزه به حساب کاربری شما واریز گردید</li>
                        </ul>

                    </div>
                    @*<div class="timeline-footer">
                    <a href="#" class="btn green pull-right">
                        Read more <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>*@
                </div>
            </li>
            
            <li class="timeline-red">
                <div class="timeline-time">
                    <span class="date">
                        4/16/13
                    </span>
                    <span class="time">
                        11:16
                    </span>
                </div>
                <div class="timeline-icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="timeline-body">
                    <h2>خروج از باشگاه</h2>
                    <div class="timeline-content">
                        <img class="timeline-img pull-right" src="/metronic/admin/pages/media/blog/5.jpg" alt="">
                        <ul>
                            <li>جناب کاربر گرامی و عزیز شما از سامانه خارج شده اید</li>
                        </ul>

                    </div>
                    @*<div class="timeline-footer">
                    <a href="#" class="btn green pull-right">
                        Read more <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>*@
                </div>
            </li>

            <li class="timeline-purple">
                <div class="timeline-time">
                    <span class="date">
                        4/13/13
                    </span>
                    <span class="time">
                        11:10
                    </span>
                </div>
                <div class="timeline-icon">
                    <i class="fa fa-gift"></i>
                </div>
                <div class="timeline-body">
                    <h2>کمک به خیریه</h2>
                    <div class="timeline-content">
                        <p>
                            <img class="timeline-img pull-right" src="/metronic/admin/pages/media/blog/4.jpg" alt="">
                            <ul>
                                <li>شما مبلغ 5000 تومان به خیریه محک کمک کردید</li>
                                <li>50,000 سکه جایزه به حساب کاربری شما واریز گردید</li>
                            </ul>
                        </p>
                    </div>
                    @*<div class="timeline-footer">
                    <a href="#" class="nav-link">
                        Read more <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>*@
                </div>
            </li>

            <li class="timeline-green">
                <div class="timeline-time">
                    <span class="date">
                        4/13/13
                    </span>
                    <span class="time">
                        10:52
                    </span>
                </div>
                <div class="timeline-icon">
                    <i class="fa fa-trophy"></i>
                </div>
                <div class="timeline-body">
                    <h2>ورود به بازی</h2>
                    <div class="timeline-content">
                        <img class="timeline-img pull-right" src="/metronic/admin/pages/media/blog/3.jpg" alt="">
                        <ul>
                            <li>شما وارد بازی فوتبال شده اید</li>
                            <li>10,000 سکه جایزه به حساب کاربری شما واریز گردید</li>
                        </ul>
                    </div>
                    @*<div class="timeline-footer">
                        <a href="#" class="nav-link">
                            Read more <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>*@
                </div>
            </li>
            
            <li class="timeline-green">
                <div class="timeline-time">
                    <span class="date">
                        4/13/13
                    </span>
                    <span class="time">
                        10:36
                    </span>
                </div>
                <div class="timeline-icon">
                    <i class="fa fa-trophy"></i>
                </div>
                <div class="timeline-body">
                    <h2>ورود به بازی</h2>
                    <div class="timeline-content">
                        <img class="timeline-img pull-right" src="/metronic/admin/pages/media/blog/3.jpg" alt="">
                        <ul>
                            <li>شما وارد بازی جنگجویان شده اید</li>
                            <li>5,000 سکه جایزه به حساب کاربری شما واریز گردید</li>
                        </ul>
                    </div>
                    @*<div class="timeline-footer">
                        <a href="#" class="nav-link">
                            Read more <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>*@
                </div>
            </li>

            <li class="timeline-red timeline-noline">
                <div class="timeline-time">
                    <span class="date">
                        4/13/13
                    </span>
                    <span class="time">
                        10:34
                    </span>
                </div>
                <div class="timeline-icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="timeline-body">
                    <h2>ورود به باشگاه</h2>
                    <div class="timeline-content">
                        <img class="timeline-img pull-right" src="/metronic/admin/pages/media/blog/5.jpg" alt="">
                        <ul>
                            <li>جناب کاربر گرامی و عزیز شما وارد سیستم شده اید</li>
                            <li>5,000 سکه جایزه به حساب کاربری شما واریز گردید</li>
                        </ul>
                        
                    </div>
                    @*<div class="timeline-footer">
                    <a href="#" class="btn green pull-right">
                        Read more <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>*@
                </div>
            </li>
        </ul>
    </div>
</div>


<div>
    @*<li class="timeline-yellow">
        <div class="timeline-time">
            <span class="date">
                4/10/13
            </span>
            <span class="time">
                18:30
            </span>
        </div>
        <div class="timeline-icon">
            <i class="fa fa-trophy"></i>
        </div>
        <div class="timeline-body">
            <h2>ICT 2013 20th International Conference</h2>
            <div class="timeline-content">
                <img class="timeline-img pull-left" src="/metronic/admin/pages/media/blog/2.jpg" alt="">
                Ricebean black-eyed pea maize scallion green bean spinach cabbage jicama bell pepper carrot onion corn plantain garbanzo. Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Parsley amaranth tigernut silver beet maize fennel spinach. Ricebean black-eyed pea maize scallion green bean spinach cabbage jicama bell pepper carrot onion corn plantain garbanzo.
            </div>
            <div class="timeline-footer">
                <a href="#" class="nav-link pull-right">
                    Read more <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </li>

    <li class="timeline-grey">
        <div class="timeline-time">
            <span class="date">
                4/17/13
            </span>
            <span class="time">
                12:11
            </span>
        </div>
        <div class="timeline-icon">
            <i class="fa fa-times"></i>
        </div>
        <div class="timeline-body">
            <h2>Staff Meeting</h2>
            <div class="timeline-content">
                Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.
            </div>
            <div class="timeline-footer">
                <a href="#" class="nav-link pull-right">
                    Read more <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </li>*@
</div>