@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>بازیکاران - فعالسازی</title>

    <!-- The stylesheet -->
    <link href="/Content/register/styles.css" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

    <div id="main">

        <h2>
            emai.FirstNamel@targetsite.com

        </h2>

        <form class="" method="post" action="">

            <div class="row email">
                <input type="text" id="phone" name="phone" placeholder="کد اس ام اس" />
            </div>

            <div class="row pass">
                <input type="password" id="password1" name="password1" placeholder="کلمه عبور جدید" />
            </div>

            <div class="row pass">
                <input type="password" id="password2" name="password2" placeholder="تکرار کلمه عبور جدید" disabled="true" />
            </div>

            <!-- The rotating arrow -->
            <div class="arrowCap"></div>
            <div class="arrow"></div>

            <p class="meterText">امنیت پسورد</p>


            <input class="" type="submit" value="تکمیل فرآیند ثبت نام" />
            <a href="/Dashborad/index" style="text-decoration: none;">
                داشبرد
            </a>
        </form>
    </div>

    <footer>

        <a class="al3xis"> شرکت ما - تولید کننده بازیکاران </a>
    </footer>

    <!-- JavaScript includes - jQuery, the complexify plugin and our own script.js -->
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="/Content/register/meter.js"></script>

</body>
</html>