<div class="row">
    <div class="col-md-12">
        <!-- BEGIN BUTTONS PORTLET-->
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>داریک چیست؟
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body util-btn-margin-bottom-5">
                <div class="row">
                    <div class="col-sm-2 col-xs-6 " style="text-align: center;">
                        <img class="img-responsive" src="/Content/images/Daric.png" />
                    </div>
                    <div class="col-sm-7 col-xs-12">
                        <p>
                            جوایز فعالیت های شما براساس سکه های داریک می باشد.
                            داریک اولین سکه معتبر تاریخ ایران می باشد که در دوره هخامنشیان ضرب می گردید.
                        </p>
                    </div>
                    <div class="col-sm-3  col-xs-12">
                        <a href="/user/daric" class="btn green pull-right"><i class="fa fa-money"></i> بیشتر بدانید</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END BUTTONS PORTLET-->
    </div>
</div>

    <div class="row">
        <div class="col-md-12">

            <div class="table-scrollable">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                فعالیت
                            </th>
                            <th class="success">
                                سطح 1
                            </th>
                            <th class="warning">
                                سطح 2
                            </th>
                            <th class="danger">
                                ویژه
                            </th>
                        </tr>
                    </thead>
                    <tr class="emptyrow">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tbody>
                        <tr>
                            <td>
                                خرید شارژ - همراه اول (هر 1000 تومان)
                            </td>
                            <td class="success">
                                100 داریک
                            </td>
                            <td class="warning">
                                300 داریک
                            </td>
                            <td class="danger">
                                1000 داریک
                            </td>
                        </tr>
                        <tr>

                            <td>
                                خرید شارژ - ایرانسل(هر 1000 تومان)
                            </td>
                            <td class="success">
                                100 داریک
                            </td>
                            <td class="warning">
                                300 داریک
                            </td>
                            <td class="danger">
                                1000 داریک
                            </td>
                        </tr>
                        <tr>

                            <td>
                                خرید شارژ - رایتل (هر 1000 تومان)
                            </td>
                            <td class="success">
                                100 داریک
                            </td>
                            <td class="warning">
                                300 داریک
                            </td>
                            <td class="danger">
                                1000 داریک
                            </td>
                        </tr>
                        <tr class="emptyrow">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>

                            <td>
                                پرداخت قبض - آب (هر قبض)
                            </td>
                            <td class="success">
                                1000 داریک
                            </td>
                            <td class="warning">
                                3000 داریک
                            </td>
                            <td class="danger">
                                10000 داریک
                            </td>
                        </tr>
                        <tr>

                            <td>
                                پرداخت قبض - برق (هر قبض)
                            </td>
                            <td class="success">
                                1000 داریک
                            </td>
                            <td class="warning">
                                3000 داریک
                            </td>
                            <td class="danger">
                                10000 داریک
                            </td>
                        </tr>
                        <tr>

                            <td>
                                پرداخت قبض - تلفن (هر قبض)
                            </td>
                            <td class="success">
                                1000 داریک
                            </td>
                            <td class="warning">
                                3000 داریک
                            </td>
                            <td class="danger">
                                10000 داریک
                            </td>
                        </tr>
                        <tr>
                            <td>
                                پرداخت قبض - گاز (هر قبض)
                            </td>
                            <td class="success">
                                1000 داریک
                            </td>
                            <td class="warning">
                                3000 داریک
                            </td>
                            <td class="danger">
                                10000 داریک
                            </td>
                        </tr>

                        <tr>
                            <td>
                                پرداخت قبض - موبایل (هر قبض)
                            </td>
                            <td class="success">
                                800 داریک
                            </td>
                            <td class="warning">
                                2400 داریک
                            </td>
                            <td class="danger">
                                8000 داریک
                            </td>
                        </tr>
                        <tr class="emptyrow">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                پرداخت قبض - شهرداری آب (هر قبض)
                            </td>
                            <td class="success">
                                1000 داریک
                            </td>
                            <td class="warning">
                                3000 داریک
                            </td>
                            <td class="danger">
                                10000 داریک
                            </td>
                        </tr>
                        <tr>
                            <td>
                                پرداخت قبض - میادین آب (هر قبض)
                            </td>
                            <td class="success">
                                1000 داریک
                            </td>
                            <td class="warning">
                                3000 داریک
                            </td>
                            <td class="danger">
                                10000 داریک
                            </td>
                        </tr>
                        <tr>
                            <td>
                                پرداخت قبض - عوارض نوسازی آب (هر قبض)
                            </td>
                            <td class="success">
                                1000 داریک
                            </td>
                            <td class="warning">
                                3000 داریک
                            </td>
                            <td class="danger">
                                10000 داریک
                            </td>
                        </tr>

                        <tr class="emptyrow">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                کارت شهروندی
                            </td>
                            <td class="success">
                                success
                            </td>
                            <td class="warning">
                                warning
                            </td>
                            <td class="danger">
                                danger
                            </td>
                        </tr>

                        <tr>
                            <td>
                                کارت مهر شهر
                            </td>
                            <td class="success">
                                success
                            </td>
                            <td class="warning">
                                warning
                            </td>
                            <td class="danger">
                                danger
                            </td>
                        </tr>
                        <tr>
                            <td>
                                کارت هدیه
                            </td>
                            <td class="success">
                                success
                            </td>
                            <td class="warning">
                                warning
                            </td>
                            <td class="danger">
                                danger
                            </td>
                        </tr>
                        <tr>
                            <td>
                                کارت هدیه ویژه
                            </td>
                            <td class="success">
                                success
                            </td>
                            <td class="warning">
                                warning
                            </td>
                            <td class="danger">
                                danger
                            </td>
                        </tr>
                        <tr class="emptyrow">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                خیریه - محک
                            </td>
                            <td class="success">
                                success
                            </td>
                            <td class="warning">
                                warning
                            </td>
                            <td class="danger">
                                danger
                            </td>
                        </tr>
                        <tr>
                            <td>
                                خیریه - 1
                            </td>
                            <td class="success">
                                success
                            </td>
                            <td class="warning">
                                warning
                            </td>
                            <td class="danger">
                                danger
                            </td>
                        </tr>
                        <tr>
                            <td>
                                خیریه - 2
                            </td>
                            <td class="success">
                                success
                            </td>
                            <td class="warning">
                                warning
                            </td>
                            <td class="danger">
                                danger
                            </td>
                        </tr>

                        <tr class="emptyrow">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>
                                کارت به کارت
                            </td>
                            <td class="success">
                                success
                            </td>
                            <td class="warning">
                                warning
                            </td>
                            <td class="danger">
                                danger
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
